
@model Web.Models.PHONG

@{
    ViewBag.Title = "Sửa Phòng";
}
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Sửa Phòng</h2>

@using (Html.BeginForm("EditPhong", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        ID
        @Html.TextBoxFor(model => model.id_phong, new { @class = "form-control" })
    </div>

    <div class="form-group">
        Tên phòng
        @Html.TextBoxFor(model => model.sophong, new { @class = "form-control" })
    </div>
    <div class="form-group">
        Hình ảnh
        <input type="file" name="hinhanh" class="form-control" />
        @if (!string.IsNullOrEmpty(Model.hinhanh))
        {
            <img src="~/Content/Image/@Model.hinhanh" alt="Image" width="100" />
        }
    </div>
    <div class="form-group">
        Giá
        @Html.TextBoxFor(model => model.gia, new { @class = "form-control" })
    </div>

    <div class="form-group">
        Mô tả
        @Html.TextAreaFor(model => model.mota, new { @class = "form-control", rows = 4 })
    </div>

    <div class="form-group">
        Dịch vụ
        @Html.TextBoxFor(model => model.dichvu, new { @class = "form-control" })
    </div>

    <div class="form-group">
        Loại phòng
        @Html.TextBoxFor(model => model.loaiphong, new { @class = "form-control" })
    </div>

    <div class="form-group">
        Số lượng giường
        @Html.TextBoxFor(model => model.soluonggiuong, new { @class = "form-control" })
    </div>

    <div class="form-group">
        Trạng thái
        @Html.TextBoxFor(model => model.trangthai, new { @class = "form-control" })
    </div>

    <div class="form-group">
        Khách sạn
        @Html.DropDownListFor(model => model.id_khachsan, (SelectList)ViewBag.KhachSanList, "Chọn khách sạn", new { @class = "form-control" })
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Cập nhật</button>
    <a href="@Url.Action("DanhSachPhong", "Admin")" class="btn btn-secondary">Hủy</a>
}


